@CHARSET "UTF-8";
    /* Remove the navbar's default margin-bottom and rounded borders */
html, body{
    height: 100%;
    font-size: 16px;

}
main{
    margin-right: 20px;
}
body{
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;

}
td a {
    display:block;
    width:100%;
    color: white;

}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}
.container-fluid{
    margin-right: 10px;
    margin-left: 25px;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 812px) {
    .sidenav {
        height: 15px;
        padding: 15px;
    }
    .row.content {height:15px;}
    footer {height: 50px;}

}
.objects{
    background-color: #555;
    padding: 30px;
    margin-top: 50px;
    font-size: 16px;
}
.messages{
    border-bottom: 1px solid #D00000;
    text-align: center;
    padding: 1vh 0;
}
.messages p {
    margin: 0;
}
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 5px;
    border: 2px solid red;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    text-align: left;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#button1
{
    border-radius: 5px;
    height: 35px;

    border: 1px solid #2d3748;
    background-color: darkslategray;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
#buttonForm{
    float: right;
    height: 35px;
    border: 1px solid #2d3748;
    background-color: darkslategray;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
#matchSave{
    float: right;
    height: 27px;
    width: 64px;
    border: 1px solid #2d3748;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-top: 4px;
}
.list1{
    max-width: 200px;
    width: 100%;
    background-color: #2d3748;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    clear: both;
    height: 5px;
    margin-top: -151px;
    font-size: 16px;
    text-rendering: auto;


}

wrapper {
    min-height: 100vh;

}

#canvas {
    min-height: 100%;
}

#mainstage {
    overflow: auto;
}

#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
    height: 50px;
    margin-top: -151px;
    font-size: 16px;
    text-rendering: auto;
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.tableft {
    float: left;
    background-color: #00001A;
    width: 40%;
    height: 250px;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;



}

.tabrigth {
    float: right;
    background-color: #00001A;
    width: 35%;
    height: 250px;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.tabcenter {
    float: right;
    background-color: #00001A;
    width: 100%;
    height: 50px;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;


}

p {
    margin-left: 40px;
    margin-right: 80px;
    margin-top: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:auto auto;
    grid-gap: 10px;
    text-align: left;
    padding: 10px;
}

.grid-container > div {

    text-align: left;
    padding: 20px ;
    font-size: 16px;
    background-color: ghostwhite;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 20px;
}
/*schedule container*/
.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:auto auto;
    grid-gap: 10px;
    text-align: left;
    padding: 10px;
}
.grid-container2 > div {

    text-align: left;
    padding: 20px ;
    font-size: 30px;
    background-color: ghostwhite;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 20px;
}
.item1{
    grid-column-start:1;
    grid-column-end:3;
}
.item2{
    grid-column-start:3;
    grid-column-end:4;
}

.item3{
    grid-column-start:4;
    grid-column-end:9;
    grid-row-start:1;
    grid-row-end:9;
}
.item4 {
    grid-column-start: 1;
    grid-column-end: 4;
}
.itemas{
    grid-column-start:1;
}
/*Profilio informacijai*/
.item11{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-end:2;
}
.item22{
    grid-column-start:3;
    grid-column-end:6;
}

.item33{
    grid-column-start:6;
    grid-column-end:9;
    grid-row-start:1;
    grid-row-end:9;
}
/*Turnyru listo*/
.itemT{
    grid-column: auto;
    margin-top: 15px;

}

/*small screen*/
@media screen and (max-width: 812px) {
    .item1{
        width: available;
        grid-column-start:1;
        grid-column-end:2;
    }
    .item2{

        width: available;
        grid-column-start:1;
        grid-column-end:2;
    }

    .item3{
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start:5;
        width: available;
        /*grid-column-end:9;*/
        /*grid-row-start:1;*/
        /*grid-row-end:9;*/
    }
    .item4 {
        grid-column-start: 1;
        grid-column-end:2;
        width: available;
        /*grid-column-end: 4;*/
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows:auto;
        grid-gap: 10px;
        text-align: left;
        padding: 10px;
    }

    .grid-container > div {

        text-align: left;
        padding: 20px ;
        font-size: 16px;
        background-color: ghostwhite;
        border-radius: 20px;
        margin-right: 10px;
        margin-left: 20px;
    }
    #myBtn{
        margin-bottom: 5px;
    }
    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 90%; /* Could be more or less, depending on screen size */
        text-align: left;
    }
    /*Profilio informacijai*/
    .item11{
        width: auto;
        grid-column-end: 1;

    }
    .item22{
        width: auto;
        grid-column-end: 1;
        grid-row-start: 2;
    }

    .item33{
        width: available;
        grid-column-end: 1;
        grid-row-start: 3;
    }
    .itemT{
        grid-column: available;
        grid-column-start: 1;
        grid-column-end: 2;


    }
}

table {
    /* make the border continuous (without gaps between columns) */
    /*border-collapse: collapse;*/
}
button{
    border: none;
    line-height: 15px;
    height: 35px;
}
.comments{
    font-size: 16px;
}
#matchBtn{
    font-size: 14px;
    height: 30px;

    float: right;

    border: 1px solid #2d3748;
    background-color: ghostwhite;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    color: black;
    cursor: pointer;
}

/* Menu responsive */
.topnav {
    overflow: hidden;
    background-color: #f3f3f9;
}

.topnav a {
    float: left;
    display: block;
    color: #454851;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    line-height: 2rem;

}

.topnav a:hover {
    background-color: #ffffff;
    color: black;
}

.topnav a.active {
    background-color:darkslategray;

    color: #ffffff;

}

.topnav .icon {
    display: none;
    color: #767683;
}

@media screen and (max-width: 812px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 812px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
.card-header{
    font-size: 18px;
}
